@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-blue-100 rounded-lg;
}
html.dark ::-webkit-scrollbar-track {
  @apply bg-gray-800;
}

::-webkit-scrollbar-thumb {
  @apply bg-blue-400 rounded-lg;
}
html.dark ::-webkit-scrollbar-thumb {
  @apply bg-purple-500;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-blue-500;
}
html.dark ::-webkit-scrollbar-thumb:hover {
  @apply bg-purple-400;
}
.custom-leaflet-icon {
  background: transparent;
  border: none;
}